<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<div class="container">
  
  <a href="/users/addlead"><button type="button" class="btn btn-default">Add a lead</button></a>
  <a href="/users/logcall"><button type="button" class="btn btn-default">Log a call</button></a>
  <a href="/users/makeappointment"><button type="button" class="btn btn-default">Make an appointment</button></a>
  <a href="/users/viewcustomers"><button type="button" class="btn btn-default">View customer list</button></a>

     
</div>